@font-face {
    font-family: 'MyWebFont';
    src: url('fonts/font-1.ttf') format('ttf');
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* @font-face {
    font-family: '阿里妈妈方圆体 VF Regular';
    src: url('//at.alicdn.com/wf/webfont/L6zKVOu6KOPy/WJ9V4shqcz7J.woff2') format('woff2'),
        url('//at.alicdn.com/wf/webfont/L6zKVOu6KOPy/YZwEjwaHVa2L.woff') format('woff');
    font-variation-settings: 'BEVL' 80, 'wght' 300;
    font-display: swap;
} */

* {
    /* font-family: '阿里妈妈方圆体 VF Regular' !important; */
    font-family: 'MyWebFont' !important;
    font-variation-settings: 'BEVL' 80, 'wght' 300;
}
@media (min-width: 768px) {
    .banner-brand__wrapper {
        height: calc(100vh - 65px) !important;
    }
}

/* 页面目录 */
.page-catalog-container ul .page-catalog-menu-depth_3 {
    text-indent: 0.5em;
}
.page-catalog-container ul .page-catalog-menu-depth_4 {
    text-indent: 1em;
}
.page-catalog-container ul .page-catalog-menu-depth_5 {
    text-indent: 1.5em;
}
.page-catalog-container ul .page-catalog-menu-depth_3.active {
    padding-left: 0.2em;
}
.page-catalog-container ul .page-catalog-menu-depth_4.active {
    padding-left: 0.2em;
}
.page-catalog-container ul .page-catalog-menu-depth_5.active {
    padding-left: 0.2em;
}
.page-catalog-container ul li {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    line-height: 1rem !important;
}
.dropdown-link__container li {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    line-height: 1.8rem !important;
}
p,
ol,
ul,
table {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.8rem !important;
}
li {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
/*blockquote {*/
/*    margin-top: 1rem !important;*/
/*    margin-bottom: 1rem !important;*/
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
/*    border-left-width: 4px;*/
/*    border-style: solid;*/
/*    padding: 0.5rem;*/
/*    font-size: 1rem;*/
/*    line-height: 1.5rem;*/
/*}*/
/*strong {*/
/*    display: inline-block;*/
/*    padding-top: 1rem;*/
/*}*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em !important;
}
body {
    background-color: rgb(248 248 248) / var(--tw-bg-opacity) !important;
    /* color: rgb(68 68 68) / var(--tw-text-opacity) !important; */
}
