@media (min-width: 768px) {
    .banner-brand__wrapper {
        height: calc(100vh - 65px) !important;
    }
}

/* 页面目录 */
.page-catalog-container ul .page-catalog-menu-depth_3 {
    text-indent: 0.5em;
}
.page-catalog-container ul .page-catalog-menu-depth_4 {
    text-indent: 1em;
}
.page-catalog-container ul .page-catalog-menu-depth_5 {
    text-indent: 1.5em;
}
.page-catalog-container ul .page-catalog-menu-depth_3.active {
    padding-left: 0.2em;
}
.page-catalog-container ul .page-catalog-menu-depth_4.active {
    padding-left: 0.2em;
}
.page-catalog-container ul .page-catalog-menu-depth_5.active {
    padding-left: 0.2em;
}
.page-catalog-container ul li {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    line-height: 1rem !important;
}
.dropdown-link__container li {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    line-height: 1.8rem !important;
}
p,
ol,
ul,
table,
li {
    margin-top: 0.7rem !important;
    margin-bottom: 0.7rem !important;
    line-height: 1.8rem !important;
}
blockquote {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 0px;
    margin-right: 0px;
    border-left-width: 4px;
    border-style: solid;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
strong {
    display: inline-block;
    padding-top: 1rem;
}
